.error {
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}

.error__title {
    color:white;
    font-size: 460%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.error__section {
    height: 60%;
}

.error p {
    color:hsl(217, 16%, 45%);
    font-size: 120%;
    padding-bottom: 20px;
}

.error strong {
    letter-spacing: 3px;
    padding-left: 3px;
    color: #dc2863;
}

.error button {
    padding: 12px;
    width: 55%;
    margin:0 auto;
    border:none;
    font-size: 16px;
    color:white;
    font-weight: 700;
    background-color: #dc2863;
    cursor: default;
    
}