.index {
  width: 90%;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1366px;
}

.index__nav {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 30px;
  justify-content: center;
  text-align: center;
}

.index__button {
  max-width: 340px;
  min-width: 300px;
  display: grid;
  align-items: center;
  border:3px solid hsl(217, 16%, 45%);
  border-radius: 6px;
  grid-template-columns: 70% 30%;
  text-align: center;
  padding: 6px;
  transition: all 0.5s ease-in-out;
}

.index__button:hover {
 border:3px solid   white
}

